name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2.4.0
        with:
          fetch-depth: 1

      - name: Validate gradle wrapper
        uses: gradle/wrapper-validation-action@v1.0.4

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'

      - name: Cache global .gradle folder
        uses: actions/cache@v2.1.7
        with:
          path: ~/.gradle
          key: gradle-cache-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/*.kt*') }}-${{ hashFiles('**/*.java') }}
          restore-keys: |
            gradle-cache-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}

      - name: Publish to Bintray and github pages
        run: ./gradlew  -Prelease=true allTests :dokkaHtmlCollector :guide:gitPublishPush :kris-core:bintrayUpload :kris-io:bintrayUpload --no-daemon
        env:
          GRGIT_USER: ursjoss
          GRGIT_PASS: ${{ secrets.GRGIT_PASS }}
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_KEY: ${{ secrets.BINTRAY_KEY }}
